<% @titles = ["Adventures in Dublin Core", "Metadata Rox!"] %>

<h1>Works#show</h1>
<article typeof="Article" itemscope itemtype="http://schema.org/Article">
  <h2>Article</h2>
  <%= render(:partial => "title", :locals => {:titles => @titles}) %>
</article>
